target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### IntelliJ IDEA ###
.idea/modules.xml
.idea/jarRepositories.xml
.idea/compiler.xml
.idea/libraries/
*.iws
*.iml
*.ipr

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store

.idea
src/main/webapp/WEB-INF/classes/.env
.env
/.smarttomcat/back-end-site/conf/catalina.properties
/.smarttomcat/back-end-site/conf/context.xml
/.smarttomcat/back-end-site/conf/jaspic-providers.xml
/.smarttomcat/back-end-site/conf/jaspic-providers.xsd
/.smarttomcat/back-end-site/conf/logging.properties
/.smarttomcat/back-end-site/conf/server.xml
/.smarttomcat/back-end-site/conf/tomcat-users.xml
/.smarttomcat/back-end-site/conf/tomcat-users.xsd
/.smarttomcat/back-end-site/conf/web.xml
