.servico-card  {
  padding: 30px;
  border-radius: 20px;
  background-color: #ffffff;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.08);
}

.servicos-purpura {
  padding: 80px 20px;
  background-color: #f8f8f8;
  text-align: center;
}

.servicos-cabecalho p {
  color: var(--cinza);
  font-weight: 600;
  font-size: 1rem;
  margin-bottom: 5px;
}

.servicos-cabecalho h2 {
  color: var(--pretoText);
  font-size: 2.5rem;
  font-weight: 700;
  margin-top: 0;
  margin-bottom: 50px;
}
.servicos-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr); 
  gap: 20px;
  max-width: 1200px;
  margin: 0 auto;
}

.servicos-grid h3{
  color:var(--pretoText)
}

.servico-card h3 {
  font-size: 1.5rem;
  font-weight: 600;
  margin: 0 0 10px;
}

.servico-card p {
  font-size: 1.1rem;
  line-height: 1.6;
  color: #555;
}


.servicos-cta {
  margin-top: 65px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.servicos-cta p {
  max-width: 700px;
  font-size: 1.1rem;
  line-height: 1.6;
  color: #555;
}